@tailwind base;
@tailwind components;
@tailwind utilities;

.fit_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image_card {
  position: relative;
  width: 100%;
  max-width: 700px;
  aspect-ratio: 70/45;
  margin: 2rem auto;
  border: solid red 2px;
  border-radius: 2rem;
}
